/*
Syntax error: Undefined mixin 'grid-system'.
        on line 2 of app/stylesheets/grid/footer.sass, in `grid-system'
        from line 2 of app/stylesheets/grid/footer.sass

1: #footer
2:   +grid-system(12)
3:   +grid-container
4:   #copyright
5:     +grid(8)
6:     +alpha
7:   #design_coding

Backtrace:
app/stylesheets/grid/footer.sass:2:in `grid-system'
app/stylesheets/grid/footer.sass:2
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `block in call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/static.rb:33:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/railties-3.0.5/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/hash4di/.rvm/gems/ruby-1.9.2-p136@black-cat-in.net/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/Users/hash4di/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/hash4di/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/hash4di/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'grid-system'.\A         on line 2 of app/stylesheets/grid/footer.sass, in `grid-system'\A         from line 2 of app/stylesheets/grid/footer.sass\A \A 1: #footer\A 2:   +grid-system(12)\A 3:   +grid-container\A 4:   #copyright\A 5:     +grid(8)\A 6:     +alpha\A 7:   #design_coding"; }
