/* line 3, ../../../app/stylesheets/text/header.sass */
#header #logo_image a {
  color: #ecc385;
}
/* line 6, ../../../app/stylesheets/text/header.sass */
#header #logo_image img#logo {
  width: 120px;
  height: 120px;
}
/* line 10, ../../../app/stylesheets/text/header.sass */
#header #name {
  font-family: "Mountains of Christmas";
  text-align: center;
  font-size: 7em;
  color: #ecc385;
}
