/* line 3, ../../../app/stylesheets/text/header.sass */
#header #logo_image a {
  color: black;
}
/* line 6, ../../../app/stylesheets/text/header.sass */
#header #logo_image img#logo {
  width: 120px;
  height: 120px;
}
/* line 10, ../../../app/stylesheets/text/header.sass */
#header #name {
  text-align: center;
  font: 5em Arial;
  color: aaa;
}
