/* line 1, ../../../app/stylesheets/text/home.sass */
body {
  background: black;
}

/* line 5, ../../../app/stylesheets/text/home.sass */
#home #content {
  background-image: url("/images/cat.jpg");
}
/* line 7, ../../../app/stylesheets/text/home.sass */
#home #content #photo_button {
  overflow: hidden;
  text-align: center;
}
/* line 8, ../../../app/stylesheets/text/home.sass */
#home #content #photo_button a {
  color: red;
}
/* line 12, ../../../app/stylesheets/text/home.sass */
#home #content #stylization_button {
  overflow: hidden;
  text-align: right;
}
/* line 13, ../../../app/stylesheets/text/home.sass */
#home #content #stylization_button a {
  color: red;
}
/* line 17, ../../../app/stylesheets/text/home.sass */
#home #content #left_list {
  text-align: right;
}
/* line 18, ../../../app/stylesheets/text/home.sass */
#home #content #left_list a {
  color: gray;
}
/* line 21, ../../../app/stylesheets/text/home.sass */
#home #content #facebook_button,
#home #content #blog_button {
  text-align: center;
}
/* line 23, ../../../app/stylesheets/text/home.sass */
#home #content #facebook_button a,
#home #content #blog_button a {
  color: black;
}
/* line 26, ../../../app/stylesheets/text/home.sass */
#home #content #right_list {
  text-align: left;
}
/* line 27, ../../../app/stylesheets/text/home.sass */
#home #content #right_list a {
  color: gray;
}
