/* line 1, ../../../app/stylesheets/text/home.sass */
body {
  background: black;
}

/* line 6, ../../../app/stylesheets/text/home.sass */
#home #content {
  background-image: url("/images/cat.jpg");
}
/* line 8, ../../../app/stylesheets/text/home.sass */
#home #content #photo_button {
  overflow: hidden;
  text-align: center;
}
/* line 9, ../../../app/stylesheets/text/home.sass */
#home #content #photo_button a {
  color: red;
}
/* line 13, ../../../app/stylesheets/text/home.sass */
#home #content #stylization_button {
  overflow: hidden;
  text-align: right;
}
/* line 14, ../../../app/stylesheets/text/home.sass */
#home #content #stylization_button a {
  color: red;
}
/* line 18, ../../../app/stylesheets/text/home.sass */
#home #content #left_list {
  text-align: right;
}
/* line 19, ../../../app/stylesheets/text/home.sass */
#home #content #left_list a {
  color: gray;
}
/* line 22, ../../../app/stylesheets/text/home.sass */
#home #content #facebook_button,
#home #content #blog_button {
  text-align: center;
}
/* line 24, ../../../app/stylesheets/text/home.sass */
#home #content #facebook_button a,
#home #content #blog_button a {
  color: black;
}
/* line 27, ../../../app/stylesheets/text/home.sass */
#home #content #right_list {
  text-align: left;
}
/* line 28, ../../../app/stylesheets/text/home.sass */
#home #content #right_list a {
  color: gray;
}
