/* line 1, ../../../app/stylesheets/text/photographs.sass */
#photographs {
  font-family: "Cabin Sketch";
  font-size: 20px;
}
/* line 6, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographer_photo img#photographer {
  width: 160px;
  height: 260px;
}
/* line 10, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_badge_source_txt {
  padding: 0;
  font-size: 11px;
  font: Arial;
  color: #666666;
}
/* line 15, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_badge_icon {
  display: block !important;
  margin: 0 !important;
  border: 1px solid black !important;
}
/* line 19, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_icon_td {
  padding: 0 5px 0 0 !important;
}
/* line 21, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery .flickr_badge_image {
  text-align: center !important;
}
/* line 24, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery .flickr_badge_image img {
  border: 1px solid black !important;
}
/* line 26, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_www {
  display: block;
  padding: 0 10px 0 10px !important;
  font-size: 11px;
  font-family: "Arial", "Helvetica", "Sans serif" !important;
  color: #3399ff !important;
}
/* line 33, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_badge_uber_wrapper a {
  text-decoration: none !important;
  background: inherit !important;
  color: #3399ff;
}
/* line 37, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_badge_wrapper {
  background-color: white;
}
/* line 39, ../../../app/stylesheets/text/photographs.sass */
#photographs #content #photographs_gallery #flickr_badge_source {
  padding: 0 !important;
  font-family: "Arial", "Helvetica", "Sans serif" !important;
  color: #666666 !important;
  font-size: 11px;
}
