=image_tag("rails.png", :id => 'photographer')

#description
  Example Photographer Description

#contact
  Example Contact Information

#photo_gallery

=image_tag("rails.png", :id => 'photographer_cat')
