#photographs
  #content
    #photographer_photo
      =image_tag("paulina.jpg", :id => 'photographer')

    #photographer_description
      Example Photographer Description
    .vertical_spacer
    #photographer_contact
      Example Contact Information
    #photographs_gallery
      =render 'flickr'
    #cat_photo
      =image_tag("sweetcat.jpeg", :id => 'photographer_cat')
