=image_tag("rails.png", :id => 'photographer')

#photographer_description
  Example Photographer Description

#photographer_contact
  Example Photographer Contact Information

#photographs_gallery

=image_tag("rails.png", :id => 'photographer_cat')
