#photographs
  #content
    #photographer_photo
      =image_tag("rails.png", :id => 'photographer')

    #photographer_description
      Example Photographer Description
    .vertical_spacer
    #photographer_contact
      Example Photographer Contact Information

    #photographs_gallery
      =image_tag("rails.png", :id => 'photographer')
    #cat_photo
      =image_tag("rails.png", :id => 'photographer_cat')
