#photographs
  #content
    #photographer_photo
      =image_tag("paulina.jpg", :id => 'photographer')

    #photographer_description
      Fotografia stała się częścią mojego życia i sprawia mi nieopisaną radość. Chaos który mnie otacza jest też inspiracją i sposobem na to, że moje zdjęcia są wyjątkowe. Staram się z codziennych sytuacji wychwytywać to, co najpiękniejsze i przez pryzmat marzeń sprawiać, że otrzymane ode mnie fotografie, będą przywoływać Wam wspomnienia tak, jakby to było wczoraj.
      Więcej o mojej pracy na:
      =link_to "pomruki.com", "http://www.pomruki.com"
    .vertical_spacer
    #photographer_contact
      %h2 Kontakt:
      #cellphone +48 XXX XXX XXX
      #zip_with_city 42-200 Częstochowa
      #address ul. Focha X/X
      #see_on_google_maps= link_to 'zobacz nas na google', 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=cz%C4%99stochowa+ul.+Focha+35%2F37+&sll=37.0625,-95.677068&sspn=38.281301,79.013672&ie=UTF8&hq=&hnear=Ferdynanda+Focha+35,+Cz%C4%99stochowa,+%C5%9Al%C4%85skie,+Poland&ll=50.807169,19.111576&spn=0.007471,0.01929&z=16'
    #photographs_gallery
      =image_tag("rails.png", :id => 'photographer')
    #cat_photo
      =image_tag("sweetcat.jpeg", :id => 'photographer_cat')
