#stylizations
  #content
    #stylist_photo
      =image_tag("rails.png", :id => 'stylist')

    #stylist_description
      Example Stylist Description
    .vertical_spacer
    #stylist_contact
      Example Contact Information

    #stylizations_gallery
      =image_tag("rails.png", :id => 'stylist')
    #cat_photo
      =image_tag("rails.png", :id => 'stylist_cat')
